@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hamburg-winter-text {
    @apply tracking-[0.025rem] text-secondary xl:text-xl xl:leading-[2rem];
  }

  .marquee-list {
    @apply relative flex whitespace-nowrap;
  }

  .marquee-list-item {
    @apply flex-1 border-b border-t bg-white p-4 lg:p-[1.875rem];
  }

  .marquee-item {
    @apply text-[clamp(1.2rem,2vw,2.188rem)] text-secondary 2xl:leading-[3.813rem];
  }

  .town-houses-tag {
    @apply text-right text-[clamp(1.4rem,2.4vw,2.813rem)] lg:flex-1 2xl:leading-[3.813rem];
  }

  .town-houses-numbers {
    @apply text-[clamp(2rem,5.5vw,6.563rem)] xl:w-[7.688rem] 2xl:leading-[6.75rem];
  }

  .custom-list-type {
    @apply before:pr-1.5 before:text-secondary before:content-['-'];
  }

  .td-row {
    @apply bg-opacity-50 text-center text-lg leading-[2.125rem] text-secondary;
  }

  .td-container {
    @apply min-w-[92px] border-b border-slate py-8;
    /* background-color: aqua; */
  }

  .td-container-2 {
    @apply min-w-[92px];
  }

  .td-item {
    @apply block;
  }
}

.custom-checkbox {
  @apply mr-4 flex h-[27.9px] w-[27.5px] min-w-[27.5px] appearance-none items-center justify-center border border-black bg-transparent sm:mr-[1.594rem];
}

.custom-checkbox:checked::before {
  content: "X";
  @apply font-extralight text-black;
}

.swiper-pagination {
  /* top: 188.53px !important;
  display: flex;
  flex-direction: column;
  gap: 12.35px;
  left: 0;
  padding: 0;
  height: max-content !important;
  width: 1.916rem !important; */

  @apply !static !-bottom-10 flex-col gap-[12.35px] p-0 md:!max-h-max lg:!absolute lg:!bottom-auto lg:!left-0 lg:!top-[192.53px] lg:flex lg:!w-[1.916rem];
}

.swiper-pagination-bullet {
  /* width: 1.916rem !important;
  height: 1.916rem !important;
  background-color: transparent !important;
  border: 5px solid #dcd6c8;
  opacity: 0.3 !important; */

  @apply !h-4 !w-4 rounded-full !border-[3px] border-bone !bg-transparent !opacity-30 lg:!h-[1.916rem] lg:!w-[1.916rem] lg:!border-[5px];
}

.swiper-pagination-bullet-active {
  /* opacity: 1 !important; */
  @apply !opacity-100;
}

.swiper-button-next:after {
  content: "" !important;
  background: url("/assets/images/project-page/arrow-icon.svg") no-repeat
    center/contain;
  @apply -rotate-90 lg:rotate-0;
}

.swiper-button-prev::after {
  content: "" !important;
  background: url("/assets/images/project-page/arrow-icon.svg") no-repeat
    center/contain;
  @apply rotate-90 lg:rotate-180;
  /* transform: rotate(180deg); */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  /* width: 29.63px;
  height: 19.81px;
  opacity: 1; */
  @apply h-[19.81px] w-[29.63px];
}

.swiper-button-next {
  /* width: 19.63px !important;
  height: 9.81px !important;
  opacity: 1 !important;
  top: 385px !important;
  left: 10px !important; */

  @apply !top-auto bottom-1.5 !h-4 !w-4 !opacity-100 lg:!left-[5px] lg:!top-[385px] lg:bottom-auto lg:!h-[19.81px] lg:!w-[29.63px];
}

.swiper-button-prev {
  /* width: 19.63px !important;
  height: 9.81px !important;
  opacity: 1 !important;
  top: 185.53px !important;
  left: 10px !important; */
  @apply !left-[26%] !right-[80%] !top-auto bottom-1.5 !h-4 !w-4 !opacity-100 lg:!left-[5px] lg:!top-[185.53px] lg:bottom-auto lg:!h-[19.81px] lg:!w-[29.63px];
}
