@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hamburg-winter-text {
    @apply tracking-[0.025rem] text-secondary xl:text-xl xl:leading-[2rem];
  }

  .marquee-list {
    @apply relative flex whitespace-nowrap;
  }

  .marquee-list-item {
    @apply flex-1 border-b border-t bg-white p-4 lg:p-[1.875rem];
  }

  .marquee-item {
    @apply text-[clamp(1.2rem,2vw,2.188rem)] text-secondary 2xl:leading-[3.813rem];
  }

  .town-houses-tag {
    @apply text-right text-[clamp(1.4rem,2.4vw,2.813rem)] lg:flex-1 2xl:leading-[3.813rem];
  }

  .town-houses-numbers {
    @apply text-[clamp(2rem,5.5vw,6.563rem)] xl:w-[7.688rem] 2xl:leading-[6.75rem];
  }

  .custom-list-type {
    @apply tracking-normal before:pr-1.5 before:text-secondary before:content-['-'];
  }

  .td-row {
    /* @apply bg-opacity-50 text-center text-secondary lg:text-lg lg:leading-[2.125rem]; */
    @apply bg-opacity-50 text-center text-[10px] leading-[clamp(1.4rem,4vw,2.125rem)] text-secondary sm:text-[clamp(0.6rem,2vw,1rem)];
  }

  .td-container {
    @apply min-w-[5.75rem] border-t border-slate !px-[0.6vw] py-4 lg:py-8;
  }

  .td-item {
    @apply block;
  }
}

.custom-checkbox {
  @apply mr-4 flex h-[27.9px] w-[27.5px] min-w-[27.5px] appearance-none items-center justify-center border border-black bg-transparent sm:mr-[1.594rem];
}

.custom-checkbox:checked::before {
  content: "X";
  @apply font-light text-black 3xl:flex 3xl:h-[0.854rem] 3xl:w-[0.854rem] 3xl:items-center 3xl:justify-center;
}

.swiper-pagination {
  @apply !static !-bottom-10 flex-col gap-[0.772rem] p-0  md:!max-h-max lg:!absolute lg:!bottom-auto lg:!left-0 lg:!top-[11.65rem] lg:flex lg:!w-[1.1rem] lg:gap-2 2xl:!top-[12.158rem] 2xl:!w-[1.916rem] 2xl:gap-[0.772rem];
}

.swiper-pagination-bullet {
  @apply !h-4 !w-4 rounded-full !border-[0.188rem] border-bone !bg-transparent !opacity-30 lg:!h-[1rem] lg:!w-[1rem] lg:!border-[0.15rem] 2xl:!h-[1.916rem] 2xl:!w-[1.916rem] 2xl:!border-[0.313rem];
}

.swiper-pagination-bullet-active {
  @apply !opacity-100;
}

.swiper-button-next:after {
  content: "" !important;
  background: url("/assets/images/project-page/arrow-icon.svg") no-repeat
    center/contain;
  @apply -rotate-90 self-end lg:rotate-0;
}

.swiper-button-prev::after {
  content: "" !important;
  background: url("/assets/images/project-page/arrow-icon.svg") no-repeat
    center/contain;
  @apply rotate-90 lg:rotate-180;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply h-[0.9rem] w-[1.2rem] 2xl:h-[1.238rem] 2xl:w-[1.852rem];
}

.swiper-button-next {
  @apply !right-[26%] !top-auto bottom-1.5 !h-4 !w-4 !opacity-100 sm:!right-[35%] md:!right-[38%] lg:!left-[0.22rem] lg:!top-[20.5rem] lg:bottom-auto lg:h-[0.9rem] lg:w-[1.2rem] 2xl:!left-[0.313rem] 2xl:!top-[27.063rem] 2xl:!h-[1.238rem] 2xl:!w-[1.852rem];
}

.swiper-button-prev {
  @apply !left-[26%] !top-auto bottom-1.5 !h-4 !w-4 !opacity-100 sm:!left-[35%] md:!left-[38%]  lg:!left-[0.22rem] lg:!top-[11.596rem] lg:bottom-auto lg:h-[0.9rem] lg:w-[1.2rem] 2xl:!h-[1.238rem] 2xl:!w-[1.852rem];
}
